<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <form id="form" onsubmit="addchat(event)"> 
        <input name="chat" type="text" id="chat" autocomplete="off"><br>
        <input class= "submit" type="submit" id="btn" value="submit" >
    </form>

    <ul class ="ul" id="item-list"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>

    <script src="./chat.js">

      
    </script>
</body>
</html>